.mapouter {
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.valhalla_cf_label {
   font-weight: bold;
}

.valhalla_cf_captcha_field {
    max-width: 100px;
}

.valhalla_cf_error {
    padding: 5px 9px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 3px;
}

.valhalla_cf_success {
    padding: 5px 9px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 3px;
}